# Ignore objects and archives, anywhere in the tree.
*.[oa]

# Ignore configure-generated stuff
Make.conf
autom4te.cache
config.log
config.status
configure
sysdef.h

Make.dep
faclib/schema.i

ChangeLog

# Ignore binaries
sfac/sfac

# TeX auxiliary files
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.out
doc/*.toc
doc/*.lol

# Compiled TeX docs
doc/manual.pdf

# Demos
demo/*/*.asc
demo/*/*.bin

# CFACDB
cfacdb/*.i
cfacdb/cfacdbu
cfacdb/fdemo


# Tags
tags

# Debugger history
.gdb_history

